.top{
    border-bottom: 1px solid rgba(122, 122, 122, 0.307) ;
    height: 40px;
}


.Home{
    float: right;
    margin-right: 30px;
    margin-top: 4px;
    animation-duration: 1.4s;
    color: aliceblue;
    text-decoration: none;   
}
.sale{
    float: right;
    margin-right:20px;
    margin-top: 4px;
    animation: sale;
    animation-duration: 2s;
}

.img{
    filter: drop-shadow(3px 3px 30px black);
    margin-left: 80px;
    width: 230px;height: 380px;
    background-size: cover;
    background-image: url(./image/img-2.png);
    animation: img;
    animation-duration: 2s;
    float: left;
}
.text-1{
    text-decoration: none;
    font-family: taha;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 202, 104);
    font-size: 25px;
    border-radius: 13px;
    float: left;
    float: left;
    margin-top: 70px;
    margin-left: 5px;
    text-align: center;
    width: 140px;
    height: 45;
    animation: text;
    animation-duration: 2s;
}
.text-2{
    text-decoration: none;
    font-family: taha;
    color: whitesmoke;
    background-color: rgb(122, 122, 122, 0.307);
    font-size: 25px;
    border-radius: 13px;
    float: left;
    float: left;
    margin-top: 70px;
    margin-left: 50px;
    text-align: center;
    width: 140px;
    height: 45;
    animation: text;
    animation-duration: 2s;
}


@keyframes img{
    from{margin-top: 140px;}
    to{margin-top: 0px;}
}
@keyframes text{
    from{margin-top: 140px;}
    to{margin-top: 70px;}
}