.get{
    background-color: yellow;
    border-radius: 30px;
    box-shadow: 3px 3px 20px yellow;
    width: 100px;height: 40px;
    margin-top: 20px;
    margin-left: 30px;
}
.text-aline{
    width: 90px;
    height: 20px;
    float: left;
    margin-left: 9px;
    margin-top: 2px;
    font-family: pota;
}

.home{
    width: 30px;
    height: 30px;
    float: right;
    font-family: hosen-fon;
    margin-left: 300px;
    margin-right: 15px;
    filter: drop-shadow(7px 7px 20px #ffffff);
    color: yellow;
    font-size: 19px;
}
.About{
    float: right;
    font-family: hosen-fon;
    margin-right: 530px;
    margin-left: 10px;
    font-size: 19px;
    color: wheat;
}
.Services{
    float: right;
    font-family: hosen-fon;
    margin-right: 6px;
    margin-left: 10px;
    font-size: 19px;
    color: wheat;
}
.contact{
    float: right;
    font-family: hosen-fon;
    margin-right: 6px;
    margin-left: 10px;
    font-size: 19px;
    color: wheat;
}


.languages{
    font-family: hosen-fon;
    text-align: center;
    margin-top: 200px;
    color: wheat;
    font-size: 60px;
    filter: drop-shadow(5px 5px 20px #000000);
}
.name{
    text-align: center;
    color: rgb(255, 255, 255);
    margin-top: 30px;
    font-size: 35px;
    font-family: hosen-fon;
    filter: drop-shadow(3px 3px 10px #a5a5a5);
}
.languages{
    font-family: hosen-fon;
    text-align: center;
    margin-top: 200px;
    color: wheat;
    font-size: 60px;
    filter: drop-shadow(5px 5px 20px #000000);
}

@media only screen and (min-width: 1080px) {
    .text-aline{
        margin-left: 25px;
    }
    .home{
        width: 30px;
        height: 30px;
        float: right;
        font-family: hosen-fon;
        margin-left: 300px;
        margin-right: 1px;
        color: rgb(255, 166, 0);
        filter: drop-shadow(7px 7px 20px #ffffff);
        font-size: 20px;
    }
    .Services{
        float: right;
        font-family: hosen-fon;
        margin-right: 6px;
        margin-left: 20px;
        font-size: 20px;
        color: wheat;
    }
    .contact{
        float: right;
        font-family: hosen-fon;
        margin-right: 6px;
        margin-left: 40px;
        font-size: 20px;
        color: wheat;
    }
    .About{
        float: right;
        font-family: hosen-fon;
        margin-right: 590px;
        margin-left: 10px;
        font-size: 20px;
        color: wheat;
    }  
    .languages{
        font-family: hosen-fon;
        text-align: center;
        margin-top: 200px;
        color: wheat;
        font-size: 60px;
        filter: drop-shadow(5px 5px 20px #000000);
    }
    .name{
        text-align: center;
        color: rgb(255, 255, 255);
        margin-top: 30px;
        font-size: 40px;
        font-family: hosen-fon;
        filter: drop-shadow(3px 3px 10px #a5a5a5);
    }
} 
@media only screen and (max-width: 1024px){
    .home{
        width: 30px;
        height: 30px;
        float: right;
        font-family: hosen-fon;
        margin-left: 100px;
        margin-right: 20px;
        color: white;
        filter: drop-shadow(7px 7px 20px #ffffff);
        font-size: 39px;
    }
    .About{
        float: right;
        font-family: hosen-fon;
        margin-right: 190px;
        margin-left: 10px;
        font-size: 39px;
        color: white;
    }
    .Services{
        float: right;
        font-family: hosen-fon;
        margin-right: 6px;
        margin-left: 10px;
        font-size: 39px;
        color: white;
    }
    .contact{
        float: right;
        font-family: hosen-fon;
        margin-right: 6px;
        margin-left: 10px;
        font-size: 39px;
    } 
    .languages{
        font-family: hosen-fon;
        text-align: center;
        margin-top: 400px;
        color: wheat;
        font-size: 90px;
        filter: drop-shadow(5px 5px 20px #000000);
    }
    .name{
        text-align: center;
        color: rgb(255, 255, 255);
        margin-top: 30px;
        font-size: 45px;
        font-family: hosen-fon;
        filter: drop-shadow(3px 3px 10px #a5a5a5);
    }
    .get{
        background-color: yellow;
        border-radius: 30px;
        box-shadow: 3px 3px 20px yellow;
        width: 130px;height: 70px;
        margin-top: 20px;
        margin-left: 30px;
    }
    .text-aline{
        width: 100px;
        height:50px;
        float: left;
        margin-left: 20px;
        font-family: pota;
        font-size: 30px;
    }
} 
@media only screen and (max-width: 798px){
    .languages{
        font-size: 40px ;
        margin-top: 230px;
        filter: drop-shadow(4px 4px 5px #00aeff);
    }
    .get{
        width: 80px;height: 40px;
        margin-top: 6px;
        margin-left: 40px;
        border-radius: 100px;
        background-color: #00000000;
        box-shadow:none;
    }
    .text-aline{
        width: 70px;
        height: 30px;
        font-size: 14px;
        margin-left: 13px;
        color: wheat;
        margin-top: 10px;
    }
    .home{
        margin-top: 30px;
        width: 30px;
        height: 30px;
        float: left;
        margin-left: 10px;
        font-family: hosen-fon;
        font-size: 19px;
        filter: drop-shadow(3px 3px 20px yellow);
    }
    .About{
        margin-top: 30px;
        float: left;
        font-family: hosen-fon;
        margin-right: 10px;
        margin-left: 52px;
        font-size: 19px;
        color: white;
        filter: drop-shadow(3px 3px 20px yellow);
    }
    .Services{
        margin-top: 30px;
        float: left;
        font-family: hosen-fon;
        margin-right: 6px;
        margin-left: 14px;
        font-size: 19px;
        color: white;
        filter: drop-shadow(3px 3px 20px yellow);
    }
    .contact{
        margin-top: 30px;
        float :left;
        font-family: hosen-fon;
        margin-right: 6px;
        margin-left: 10px;
        font-size: 19px;
        color: white;
        filter: drop-shadow(3px 3px 20px yellow);
    }
    .name{
        font-size: 25px;
        filter: drop-shadow(4px 4px 10px #00aeff);
    }
}